.searchbox{
    padding-top:30px;
    height: 10%;
    width: auto;
    /* border: 1px solid red; */
    /* background-color: grey; */
}
.showInfo{
    /* height: auto; */
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* border:1px solid blue; */
    /* display: flex;
    align-content: stretch; */
    overflow-x: scroll;
    /* overflow-y: scroll;  */
}

.showInfo::-webkit-scrollbar { 
 display: none; 
} 

.input{
    display: inline-block;
    width: 400px;
    height: 35px;
    border: none;
    border-radius: 5px;
}

.info{
    color:blue;
}
.info:hover{
    cursor: pointer;
}

.cursor{
    color:black;
}

.cursor:hover{
    cursor: pointer;
}

.red{
    color: red;
}

.red:hover{
    cursor: pointer;
}


.img-wrapper{
    overflow:hidden;
  }
  img.hover-zoom:hover {
    transform: scale(1.50);
  }