.navbar1{
    width: auto;
    height: auto;
    background-color: rgb(226, 241, 7);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navElements{
    margin-left:20px;
    margin-right: 20px;
}